footer {
  bottom: 0;
  position: fixed;
}

.buttonStart {
  bottom: 0;
  left: 50%;
  position: fixed;
  right: 50%;
  width: 80px;
}

.carousel {
  display: flex;
  gap: 10px;
  height: 30vh;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 25%;
}

.displayCard {
  height: 100%;
  width: 50%;
}

.recommendationImage {
  height: 50%;
}

.recipePhoto {
  height: 30%;
  width: 30%;
}

