.buttonStart {
  bottom: 0;
  position: fixed;
  background-color: #fcc436;
  font-size: 18px;
  font-weight: 700;
  width: 90%;
  border-radius: 5px;
  margin-bottom: 5px;
}

.buttonStart:hover {
  background-color: #f9b52a;
}

.buttonStart:active {
  background-color: #f9b52a;
}
